@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

:root {
  --menu-width: 300px;
  
  --roboto-mono: 'Roboto Mono', monospace;
  --red-hat-display: 'Red Hat Display', sans-serif;
  --font-mr-dafoe: 'Mr Dafoe', cursive;

  --color-black: #191919;
  --color-red: #f64747;
  --color-red-secondary: #f74747;

  --fz-large: 1.8rem;
  --fz-medium: 1.6rem;
  --fz-small: 1.4rem;
}

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #191919;
}
