@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

:root {
  --menu-width: 300px;
  --roboto-mono: 'Roboto Mono', monospace;
  --fz-text: 1.4rem;
}

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #191919;
}
