.menuIcon {
  display: none;
  --width: 30px;
  --line-height: 3px;
  --bg-color: #000000;
  --bd-radius: 10px;
  --line-distance: 8px;
}

// mobile
// 450px
@media (max-width: 28.125rem) {
  .menuIcon {
    width: var(--width);
    height: var(--width);
    display: grid;
    align-content: center;
    cursor: pointer;

    &__line {
      position: relative;
      width: var(--width);
      height: var(--line-height);
      background-color: var(--bg-color);
      border-radius: var(--bd-radius);

      &::after {
        content: '';
        position: absolute;
        top: calc(var(--line-distance) * -1);
        left: 0;
        background-color: var(--bg-color);
        width: var(--width);
        height: var(--line-height);
        border-radius: var(--bd-radius);
      }

      &::before {
        content: '';
        position: absolute;
        top: var(--line-distance);
        left: 0;
        background-color: var(--bg-color);
        width: var(--width);
        height: var(--line-height);
        border-radius: var(--bd-radius);
      }
    }
  }
}
