.cartMenu {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 100;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);

  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  color: #777777;
  width: max-content;
  width: var(--menu-width);

  display: grid;
  grid-row-gap: 2rem;
  font-family: var(--roboto-mono);

  &__itemsList {
    display: grid;
    grid-row-gap: 2rem;
  }

  &__main {
    display: grid;
    justify-items: center;
    grid-row-gap: 2rem;
    padding: 2rem;
    background-color: #fff;
  }

  &__empty {
    display: grid;
    justify-items: center;
    padding: 2rem;
    grid-row-gap: 2rem;
  }

  &__totalBox {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;

    font-family: var(--red-hat-display);
    font-weight: 900;
    color: var(--color-black);
  }

  &__total {
    font-size: var(--fz-small);
  }

  &__totalPrice {
    font-size: var(--fz-medium);
  }
}

.icon {
  width: 50px;
  height: 50px;
  fill: #777777;
}

.txt {
  width: max-content;
}

.btnClose {
  display: none;
}

.backdrop {
  display: none;
}

// 450px - 28.125rem - mobile
@media (max-width: 28.125rem) {
  .cartMenu {
    position: fixed;
    top: 0;
    right: 0;

    width: 70vw;
    height: 100vh;
    background-color: #ffffff;

    &__main {
      grid-auto-rows: min-content;
      grid-row-gap: 3rem;
      background-color: #fff;
      padding: 1rem;
    }
  }

  .backdrop {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .btnClose {
    display: block;
    justify-self: end;
    padding: 1rem;
    border-radius: 100px;
    transition: all 0.2s ease;

    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}

.menuItem {
  list-style-type: none;
}

.link {
  text-decoration: none;
  justify-self: center;
  color: var(--color-black);
}
