.button {
  all: unset;

  display: grid;

  cursor: pointer;
  transition: all 0.2s ease-out;
  font-size: 1.4rem;
  width: 100%;

  &__icon {
    width: 20px;
    height: 20px;

    fill: #000000;
  }

  &__text {
    text-transform: capitalize;
    color: var(--txt-color);
  }

  &__box {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 2rem;
    width: max-content;
    align-items: center;
  }

  &:hover &__icon {
    fill: #f64747;
  }

  &:hover &__text {
    color: #f64747 !important;
  }
}

.num {
  position: absolute;
  top: -15px;
  left: 25px;

  background-color: var(--color-red);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-family: var(--roboto-mono);
  font-size: var(--fz-small);
  color: #ffffff;

  display: grid;
  align-items: center;
  justify-items: center;
}
