.btnGoTo {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 1rem;
  color: var(--color-black);
  text-decoration: none;

  padding: 1rem 3rem;
  align-items: center;
  border: 2px solid #000;
  font-size: var(--fz-large);
  font-weight: 700;
  text-transform: capitalize;
  transition: all 0.3s ease;
  font-family: var(--red-hat-display);
  cursor: pointer;
  letter-spacing: 0.1rem;

  &:hover {
    color: #ffffff;
    background-color: var(--color-black);
  }
}

// 450px - mobile
@media (max-width: 28.125rem) {
  .btnGoTo {
    grid-column: 1;
  }
}
