.homePage {
  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: 15% 70% 15%;
}

.imgBg {
  background-image: url('../../assets/images/imageedit_1_3500818934.png');
  background-position: center center;
  background-size: cover;
  filter: grayscale(100%);
  display: grid;
  grid-column: 1;
  grid-row: 1;
  height: 100vh;
}

.position {
  grid-column: 1 / -1;
  margin-top: 20rem;
}

.btnGoTo {
  grid-column: 2 / 3;
  margin: 15rem 0;
  justify-self: center;
}

.btnGoTo__icon {
  transition: all 0.3s ease;
}

.btnGoTo:hover .btnGoTo__icon {
  fill: #ffffff;
  transform: translateX(10px);
}

.productsList {
  margin-top: -30%;
}

.productBox {
  all: unset;
}

// 800px
@media (max-width: 50rem) {
  .homePage {
    grid-template-columns: 2% 96% 2%;
  }

  .productsList {
    margin-top: -30%;
  }
}

// 450px - mobile
@media (max-width: 28.125rem) {
  .homePage {
    grid-template-columns: 1fr;
  }

  .productsList {
    margin-top: -52%;
  }
}
