.intro {
  grid-column: 1 / -1;

  display: grid;
  justify-content: center;

  &__box {
    display: grid;
    justify-items: center;
    grid-auto-rows: min-content;
    position: relative;
    animation: slide_up 0.5s 0.5s forwards;
    opacity: 0;
    grid-row-gap: 1rem;
    height: 30vh;
    z-index: 10;
  }

  &__title {
    font-size: var(--fz-intro-title);
    font-family: var(--red-hat-display);
    display: grid;
    grid-auto-rows: min-content;
    justify-items: center;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
  }

  &__titleBlack {
    color: var(--color-black);
  }

  &__titleRed {
    color: var(--color-red);
  }

  &__subtitle {
    font-size: var(--fz-intro-subtitle);
    font-weight: 400;
    letter-spacing: 0.15rem;
    font-family: var(--roboto-mono);
  }

  &__bgImg {
    object-fit: cover;
    object-position: center center;
    filter: grayscale(100%);
    width: 98vw;
    opacity: 0.7;
  }
}

@keyframes slide_up {
  0% {
    top: 50%;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

// 800px - 50rem - tablet
@media (max-width: 50rem) {
  .intro {
    &__bgImg {
      width: 98vw;
    }
  }
}
// 450px - 28.125rem - mobile
@media (max-width: 28.125rem) {
  .intro {
    &__bgImg {
      width: 96vw;
    }
  }
}
