.btnLink {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 1rem;
  background-color: var(--color-red);
  color: #ffffff;

  text-decoration: none;
  text-align: center;

  padding: 1rem 3rem;
  align-items: center;
  font-size: var(--fz-large);
  font-weight: 700;
  text-transform: capitalize;
  transition: all 0.3s ease;
  font-family: var(--red-hat-display);
  letter-spacing: 0.1rem;
  opacity: 0.8;
  cursor: auto;

  &:hover {
    cursor: pointer;
    background-color: var(--color-black);
  }
}
