.header {
  grid-column: 2 / 3;

  display: grid;
  grid-template-columns: 1fr auto auto;

  padding: 4rem 0;
  margin-bottom: 5rem;

  &__logo {
    justify-self: start;
  }

  &__user {
    all: unset;
    color: var(--color-black);
    font-size: var(--fz-medium);
    font-family: var(--red-hat-display);
    font-weight: 900;
    cursor: pointer;
  }
}

.btnClose {
  display: none;
}

.icon {
  width: 20px;
  height: 20px;

  fill: #000000;
}

.link {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-column-gap: 2rem;
  text-decoration: none;
  text-transform: capitalize;

  color: #777777;

  transition: all 0.2s ease;
}

.link:hover .icon {
  fill: tomato;
}

.link:hover {
  color: #f64747;
}

// 800px - tablet
@media (max-width: 50rem) {
  .header {
    grid-column: 1 / -1;

    padding: 1rem 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    &__logo {
      width: 100px;
    }
  }
}

// 450px - 28.125rem - mobile
@media (max-width: 28.125rem) {
  .btnClose {
    display: block;
    justify-self: end;
    padding: 1rem;
    border-radius: 100px;
    transition: all 0.2s ease;

    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}
